name: Deploy React App to Azure VM

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Upload build folder to Azure VM (TEMP LOCATION)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_SSH_PRIVATE_KEY }}
          source: "build/*"
          target: "/var/www/frontend/temp/"

      - name: Finalize deployment on VM
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_SSH_PRIVATE_KEY }}
          script: |
            sudo rm -rf /var/www/frontend/current/*
            sudo cp -r /var/www/frontend/temp/build/* /var/www/frontend/current/
            sudo rm -rf /var/www/frontend/temp
            sudo systemctl restart nginx
